{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>componentesactivos</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="productos contenido" id="lista-1">
    <h2>COMPONENTES PASIVOS</h2>
    <div class="producto-cuerpo">
        <div class="producto">
            <img src="{% static 'imagenes/protoboard.png' %}" alt="">
            <div class="producto-txt">
                <h3>PROTOBOARD </h3>
                <p>Protoboard de 830 puntos</p>
                <p class="precio">$15</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/cables.jpg' %}" alt="">
            <div class="product0-txt">
                <h3>cable dupont</h3>
                <p>40 cable dupont, macho y hembra</p>
                <p class="precio">$5</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/multi.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>multimetro</h3>
                <p>Multimetro digital profesional Truper UNI-T86X</p>
                <p class="precio">$80</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/estaño.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>estaño </h3>
                <p>Rollo de Estaño 60/40 0.8mm 100gr Wt-100gr Westor</p>
                <p class="precio">$25</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/amp.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>amperimetro</h3>
                <p>Amperímetro - Medir resistencia 800HC5</p>
                <p class="precio">$83</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/LCD.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>pantalla LCD</h3>
                <p>Pantalla LCD 1602 con conexion a arduino </p>
                <p class="precio">$20</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
    </div>
<a href="{% url 'principal' %}" class="btn-volver">← Volver a la ventana principal</a>
</main>
<footer class="footer">
    <div class="footer-cuerpo contenido">
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Taylor</li>
                <li>95678122</li>
                <li>Av. Ferial</li>
                <li>coaquiraidmetaylor@gmail.com</li>
            </ul>
        </div>
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Chuchas</li>
                <li>95678122</li>
                <li>Jr. Callao</li>
                 <li>miguelazo@gmail.com</li>
            </ul>
        </div>
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Talento</li>
                <li>95678122</li>
                <li>Rio Torococha</li>
                 <li>crisvalencia@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>