{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>componentesactivos</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="productos contenido" id="lista-1">
    <h2>COMPONENTES PASIVOS</h2>
    <div class="producto-cuerpo">
        <div class="producto">
            <img src="{% static 'imagenes/placa.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>placa arduino </h3>
                <p>Placa de arduino Uno R3</p>
                <p class="precio">$60</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/MODULO1.jpg' %}" alt="">
            <div class="product0-txt">
                <h3>Modulo ESP32</h3>
                <p>ESP32 DEVKIT V1 - NodeMCU-32 30-pin ESP32 WiFi micro-USB</p>
                <p class="precio">$12</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/modulo2.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>modulo wifi</h3>
                <p>China Realtek RTL8710 Módulo WiFi Soporte WiFi</p>
                <p class="precio">$17</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/rasp.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>raspberry PI</h3>
                <p>Raspberry Pi 5 - 4GB</p>
                <p class="precio">$12.5</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/placa2.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>placa nano</h3>
                <p>Arduboard Nano CH340G mini-USB</p>
                <p class="precio">$12.5</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/mega.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>placa mega</h3>
                <p>Placa de arduino mega 2560 REV3</p>
                <p class="precio">$55</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
    </div>
    <a href="{% url 'principal' %}" class="btn-volver">← Volver a la ventana principal</a>
</main>
<footer class="footer">
    <div class="footer-cuerpo contenido">
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Taylor</li>
                <li>95678122</li>
                <li>Av. Ferial</li>
                <li>coaquiraidmetaylor@gmail.com</li>
            </ul>
        </div>
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Chuchas</li>
                <li>95678122</li>
                <li>Jr. Callao</li>
                 <li>miguelazo@gmail.com</li>
            </ul>
        </div>
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Talento</li>
                <li>95678122</li>
                <li>Rio Torococha</li>
                 <li>crisvalencia@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>