{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>componentesactivos</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <main class="productos contenido" id="lista-1">
    <h2>COMPONENTES PASIVOS</h2>
    <div class="producto-cuerpo">
        <div class="producto">
            <img src="{% static 'imagenes/ci1.png' %}" alt="">
            <div class="producto-txt">
                <h3>circuito integrado </h3>
                <p>Circuito integrado LCMXO2-1200HC-4SG32I</p>
                <p class="precio">$1.5</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/ci2.png' %}" alt="">
            <div class="product0-txt">
                <h3>circuito integrado</h3>
                <p>Circuito integrado TMS320F2812PGFA</p>
                <p class="precio">$3</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/ci3.png' %}" alt="">
            <div class="producto-txt">
                <h3>circuito integrado</h3>
                <p>Circuito integradoAD620BRZ-RL</p>
                <p class="precio">$2</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/transistor.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>transistor </h3>
                <p>Transistor NPN 2N2222A</p>
                <p class="precio">$2.5</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/regulador.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>regulador</h3>
                <p>Regulador de voltaje ac 220 v 10000 w tiristor</p>
                <p class="precio">$30</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
        <div class="producto">
            <img src="{% static 'imagenes/compuerta.jpg' %}" alt="">
            <div class="producto-txt">
                <h3>Puerta logica</h3>
                <p>Puertas lógicas AND de 10 unidades</p>
                <p class="precio">$20</p>
                <a href="" class="agregar-carrito btn-2" >agregar al carrito</a>
            </div>
        </div>
    </div>
    <a href="{% url 'principal' %}" class="btn-volver">← Volver a la ventana principal</a>
</main>
<footer class="footer">
    <div class="footer-cuerpo contenido">
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Taylor</li>
                <li>95678122</li>
                <li>Av. Ferial</li>
                <li>coaquiraidmetaylor@gmail.com</li>
            </ul>
        </div>
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Chuchas</li>
                <li>95678122</li>
                <li>Jr. Callao</li>
                 <li>miguelazo@gmail.com</li>
            </ul>
        </div>
        <div class ="usuarios">
            <h3>Contacto</h3>
            <ul>
                <li>Talento</li>
                <li>95678122</li>
                <li>Rio Torococha</li>
                 <li>crisvalencia@gmail.com</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>